<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page">
    <StackLayout verticalAlignment="middle">
        <TNSStickySwitch id="mySwitch1" mode="1" (selectedChange)="onSelectedOne($event)" checked="true" leftText="off"
            width="100" leftIcon="baseline_volume_off_white_36" rightText="on" rightIcon="baseline_volume_up_white_36"
            textSize="16" selectedTextSize="18" iconSize="70" onColor="#FF2371FA" offColor="#FF1818" circleColor="#FF2371FA"
            iconPadding="8" backgroundColor="#FF181821" switchColor="#FF2371FA" textColor="#FF26292D" animationDuration="600"
            animationType="line" textVisible="true" class="m-b-20"></TNSStickySwitch>

        <TNSStickySwitch #mySwitch2 mode="2" (selectedChange)="onSelectedTwo($event, mySwitch2)" checked="false" width="100"
            leftIcon="baseline_location_off_white_36" rightIcon="baseline_location_on_white_36" iconSize="70"
            iconPadding="10" backgroundColor="#196AB7" switchColor="#EB5160" animationDuration="600" animationType="line"
            textVisible="false" class="m-b-10"></TNSStickySwitch>

        <TNSStickySwitch #mySwitch3 (selectedChange)="onSelectedThree($event, mySwitch3)" checked="false" width="100"
            leftIcon="baseline_bluetooth_disabled_black_36" rightIcon="baseline_bluetooth_black_36" iconSize="70"
            iconPadding="10" backgroundColor="#99F7AF" switchColor="#76CB89" animationDuration="1000" animationType="line"
            textVisible="false"></TNSStickySwitch>
    </StackLayout>
</GridLayout>